/* .hidden{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    background-color: rgba(5, 107, 0, 0.8);;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

.gridCont{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 100%;
}

.gridBox{
    border: 2px solid red;
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.selectBox {
    width: 100%;
}

.selectBox option{
    background-color: aqua;
    border: 10px solid red;
}
